# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
.env
.env.*

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Editors/IDE
.vscode/
.idea/

# Build/dist
build/
dist/

# Docker
*.log
docker-compose.override.yml
.tmp/
.cache/

# OS
.DS_Store
Thumbs.db